<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Backend_Capstone</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/BootstrapTheme.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/BootstrapTheme.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        @@font-face {
            font-family: Prospectus Pro Blk;
            src: url('/fonts/ProspectusLBlk.otf') format('opentype');
        }

        .PPBlk {
            font-family: 'Prospectus Pro Blk'
        }

        @@font-face {
            font-family: Prospectus Pro Bld;
            src: url('/fonts/ProspectusLBld.otf') format('opentype');
        }

        .PPBld {
            font-family: 'Prospectus Pro Bld'
        }

        @@font-face {
            font-family: Prospectus Pro BldItl;
            src: url('/fonts/ProspectusLBldItal.otf') format('opentype');
        }

        .PPBldItl {
            font-family: 'Prospectus Pro BldItl';
        }
    </style>


</head>
<body>
    <header>

        <nav class="navbar navbar-expand-md navbar-fixed-top navbar-light bg-transparent main-nav shadow-none">
            <div class="container">
                <div class="navbar-collapse collapse nav-content order-2">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link PPBld sideMarg" asp-controller="Recipes" asp-action="Index">All Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link PPBld sideMarg" href="#">My Favorites</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link PPBld sideMarg" href="#">Weekly Plan</a>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav text-nowrap flex-row mx-md-auto order-1 order-md-2">
                    <a asp-controller="Home" asp-action="Index"><img class="mainLogo" src="~/images/CIC_main.svg" /></a>
                    <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target=".nav-content" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </ul>
                <div class="ml-auto navbar-collapse flex-row-reverse nav-content order-3 order-md-3">

                    <ul class=" nav navbar-nav">
                        <partial name="_LoginPartial" class="sideMarg" />

                        @*@using (Html.BeginForm())
                            {
                                //search input

                                @Html.TextBox("userInput")

                                <button class="btn btn-outline-warning my-2 my-sm-0 btn-sm" type="submit" onclick="window.location='@Url.Action("Index", "Products")'">Search</button>
                            }*@
                    </ul>

                    <form class="form-inline my-2 my-sm-0" typeof="submit">
                        <input class="form-control searchBox" type="search" placeholder="search" aria-label="Search">
                    </form>
                    <i class="fas fa-search sideMarg"></i>
                </div>
            </div>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3  mainContainer">
            @RenderBody()
        </main>
    </div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('li.active').removeClass('active');
            $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
