@model Backend_Capstone.Models.Recipe

@{
    ViewData["Title"] = "Details";
}

<hr />
<div>
    <div class="cardDetail container">
        <div class="row shortRow">
            <div class="col-5">
                <div class="detailCardImg overflow-hidden">
                    <img src="@Url.Content(Model.ImageUrl)" class="smallCardImage detailImg" />
                </div>
            </div>
            <div class="col detailCardTxt">
                <h1>@Model.Title</h1>
                <p class="greyTxt"><i class="fas fa-user"></i>   @Model.User.FirstName @Model.User.LastName</p>
                <br />
                <br>
                <p>@Model.Description</p>
               
                <hr class="customHr" style="margin-bottom: 0px;" />


                <div class="row">
                    <div class="col  text-center" style="padding: 10px;">
                        <p style="margin-bottom: 0px;">Prep Time:</p>
                        <h4>@Model.PrepTime min</h4>
                    </div>
                    <div class="col  text-center" style="padding: 10px;">
                        <p style="margin-bottom: 0px;">Cook Time:</p>
                        <h4>@Model.CookTime min</h4>
                    </div>
                    <div class="col text-center" style="padding: 10px;">
                        <p style="margin-bottom: 0px;">Serves:</p>
                        <h4>@Model.Servings people</h4>
                    </div>
                </div>
                <hr class="customHr" style="margin-top: 0px;" />

            </div>
        </div>
        <hr class="customHr" />
        <div class="row" style="padding: 80px; padding-left: 20px;">
            <div class="col-5">
                <div class="row">
                    <div class="col-4">
                        <p></p>
                    </div>
                    <div class="col specialCol">
                        <h3>Ingredients</h3>
                    </div>
                </div>
                @foreach (var ing in Model.Ingredients)
                {
                    <div class="row">
                        <div class="col-4 text-right">
                            <p class="font-weight-bold">@ing.Quantity</p>
                        </div>
                        <div class="col">
                            <p style="padding-top: 4px;">@ing.Title</p>
                        </div>
                 
                    </div>
                }
            </div>
            <div class="col specialCol">
                <div class="row">
                    <div class="col-1">
                        <p> </p>
                    </div>
                    <div class="col">
                        <h3>Instructions</h3>
                    </div>
                </div>
                @foreach (var inst in Model.Instructions)
                {
                    <div class="row">
                        <div class="col-1">
                            <p class="instructionNum">@inst.InstructionNumber</p>
                        </div>
                        <div class="col">
                            <p style="padding-top: 4px;">@inst.InstructionText</p>
                        </div>
                    </div>
                }
            </div>


        </div>


    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
